div.product_meta{
    margin-top: 10px !important;
}

.pagination-lg .page-link {
    font-size: 1.5rem !important;
    font-weight: 500;
}

ul#cart-information {
    overflow: scroll;
    max-height: 400px;
}
div.edgtf-bli-inner > div.edgtf-post-image {
    width: 367px;
    height: 250px;
}
.edgtf-checkout{
    float: right;
}
.edgtf-subtotal-holder > div > a {
    letter-spacing: 1pt;
}

div.edgtf-post-excerpt-holder {
    max-height: 102px;
}

div.edgtf-post-heading > div.edgtf-post-image {
    width: 1000px;
    height: 350px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

div.edgtf-bli-inner > div.edgtf-post-image {
    width: 100%;
    height: 250px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.edgtf-woo-image-normal-width .edgtf-pli-inner, .product.product-category > .edgtf-pl-inner {
    display: table !important;
    margin: auto;
}

.edgtf-woo-image-normal-width:hover .edgtf-pl-inner .edgtf-pl-text {
    opacity: 1;
}

div.woocommerce-info {
    position: relative;
    display: block;
    padding: 20px 30px;
    margin: 0 0 30px;
    line-height: 54px;
    list-style: none;
    background-color: transparent;
    border: 1px solid #eaeaea;
}

.col-1, .col-2 {
     width: 100%;
     margin-right: 2%;
     float: left;
}


div.woocommerce-info > a, div.woocommerce-info > button  {
    float: right;
}

div.woocommerce-billing-fields__field-wrapper > .form-row{
    width: 48%;
    margin-right: 2%;
    padding-left: 5px;
    float: left;
}
div.woocommerce-billing-fields__field-wrapper > .form-row-last {
    margin-right: 0;
}
div.woocommerce-billing-fields__field-wrapper > .form-row-wide {
    width: 100%;
}

tr.woocommerce-cart-form__cart-item {
    border: 0;
}
table.cart > thead {
    display:none;
}
td.product-remove {
    padding-left: 10px !important;
    padding-right: 10px !important;
}
tr.cart_item > td {
    padding: 25px 0;
    vertical-align: middle;
    text-align: center;
}
td.product-thumbnail {
    width: 86px;
    padding-right: 10px;
}
td.product-name {
    width: 40%;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .18em;
}
td.product-price {
    font-size: 13px;
    font-weight: 500;
    line-height: 1.9em;
}
td.product-subtotal {
    padding-right: 2% !important;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.9em;
    text-align: right;
}
.woocommerce > .woocommerce-cart-form {
    float: left;
    width: 75%;
    margin: 7.5% 0;
}
div.cart-collaterals {
    margin: 15% 0 100px;
    float: right;
    width: 25%;
    padding: 35px 25px 35px 30px;
    box-sizing: border-box;
    background-color: #fafafa;
}
a.edgtf-cart-go-back {
    display: inline-block;
    color: #e36e3a;
    font-size: 13px;
    margin-top: 29px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .18em;
}
tr.order-total {
    border-top: 1px solid #eaeaea;
}
tr.order-total > th {
    text-align: left;
    width: 140%;
    padding-right: 20px;
    border: 0;
    font-size: 13px;
    color: #0d0d0d;
    text-transform: uppercase;
    letter-spacing: 0em;
    font-weight: 600;
}
tr.order-total > td {
    padding-top: 16px;
    text-align: right;
}
table, tr, td {
    padding: 5px 0;
}
table.shop_table_responsive{
    margin: 0 0 15px;
}
a.checkout-button {
    width: 100% !important;
    text-align: center;
}

@media only screen and (max-width: 1024px) {
    div.cart-collaterals {
        float: none;
        margin-bottom: 80px;
        width: 100%;
    }
    div.woocommerce > .woocommerce-cart-form {
        float: none;
        margin-bottom: 80px;
        width: 100%;
    }

}

.vc_custom {
    padding-top: 80px !important;
    padding-bottom: 80px !important;
}

.woocommerce {
    width:93%;
}

.button {
    font-family: inherit;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: auto;
    outline: 0;
    font-size: 13px;
    line-height: 1.2em;
    letter-spacing: .2em;
    font-weight: 500;
    text-transform: uppercase;
    box-sizing: border-box;
    margin: 0;
    -webkit-transition: color .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out;
    transition: color .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out;
    padding: 18px 40px;
    color: #fff;
    background-color: #e36e3a;
    border: 1px solid transparent;
    white-space: nowrap;
    cursor: pointer;
    z-index: 3;

}

.pad-list_user {
    max-height: 600px;
    overflow: scroll;
}
.item-user > .pad-avatar {
    float: left;
    width: 120px;
    height: 120px;
    position: relative;
    overflow: hidden;
    margin-right: 25px;
}
.pad-user-content > p {
    line-height: 32px;
    display: block;
    margin: 0;
    margin-top: -6px;
}
.item-user {
    float: left;
    width: 100%;
    position: relative;
    border: 1px solid #eaeaea;
    padding: 15px;
    box-sizing: border-box;
}
.item-user:hover {
    background: #f3f3f3;
    cursor: pointer;
}
.woocommerce-checkout-review-order-table {
    padding: 0;
    margin: 0 0 35px;
}
table.woocommerce-checkout-review-order-table th, table.woocommerce-checkout-review-order-table td {
    padding: 14px 0 !important;
    text-align: left !important;
    vertical-align: middle !important;
}
table.woocommerce-checkout-review-order-table tr {
    border: 0;
    border-bottom: 1px solid #eaeaea;
}
.pad-list-user .woocommerce-info {
    float: left;
    width: 100%;
    margin-bottom: 30px;
    box-sizing: border-box;
}

.modal-backdrop {
    z-index: -1 !important;
}

.wpb_wrapper {
    margin-top: 20px;
}

div.cart_totals  > h5 {
    font-weight: 900 !important;
    font-size: 0.85rem !important;
}

button#current {
    font-weight: 900;
    color: red;
}

h5 {
    font-size: 1.1rem !important;
}

.edgtf-btn-holders-final {
    padding: 0 24px;
    font-weight: 600;
    font-size: 11px;
    letter-spacing: .18em;
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 100%;
}

.edgtf-view-cart {
    float: left;
}

#customer_details .column-1 {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-right: 1%;
    float: left;
    vertical-align: middle;
}

input[type=date] {
    position: relative;
    width: 150px; height: 20px;
    color: white;
    padding: 25px 20px !important;
}

input[type=date]:before {
    top: 3px; left: 3px;
    content: attr(data-date);
    display: inline-block;
    color: black;
}

input::-webkit-datetime-edit, input::-webkit-inner-spin-button, input::-webkit-clear-button {
    display: none;
}

input::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 3px;
    right: 0;
    color: black;
    opacity: 1;
}

div.entry-summary {
    margin-top: 10px;
}

img {
    display: block !important;
    margin: 0 auto !important;
}

h5.edgtf-product-list-title, h3.edgtf-single-product-title,h4.edgtf-product-list-title {
    font-weight: 800;
}
h4.edgtf-product-list-title {
    height: 46px;
    overflow-y: hidden;
}

h5.edgtf-pli-title {
    letter-spacing: 1pt;
    font-size: 10pt !important;
}
.product_meta>span, span.post-in {
    display: block;
    margin: 7px 0;
    color: #0d0d0d;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: .24em;
}

ul.list-stock  li.stock-detail {
    font-size: 13px;
    color: black;
    font-weight: 400;
    list-style-type: square;

}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li.stock-name {
    padding-left: 1em;
    text-indent: -.9em;
    font-size: 15px;
    font-weight: 600;
    color: #856404;
}

li.stock-name::before {
    content: "• ";
    color: green; /* or whatever color you prefer */
    font-size: 14pt;
    vertical-align: middle;
}

h1.edgtf-page-title {
    font-size: 5rem !important;
}

div.wc-proceed-to-checkout > p.checkout-button {
    width: 100%; text-align: center
}

/*<!-- Profile page -->*/

.profile-pad .avatar,.profile-pad .avatar .avatar-ct,.profile-pad .avatar .avatar-img{
    display: inline-block;width: 100%;text-align: center;
    line-height: 1.7em;
}

.profile-pad .avatar .avatar-img img.avatar, div.textwidget img.avatar{width: 200px;height: 200px;display: inline-block;border: 4px solid #e36e3a;border-radius: 100%;
}

.profile-pad .col50{
    float: left;width: 50%;
}

.profile-pad .avatar .col50 .title{
    color: #e36e3a;font-size: 50px;font-weight: bold;margin-bottom: 20px;margin-top: 30px;
}

.profile-pad .avatar .col50 .ct{
    color: #222;font-size: 20px;
}

.profile-pad .avatar-profile .item.ellipsis{
    display: inline-block;width: 100%;border-bottom: 1px solid #e5e5e5;line-height: 40px;
}

.profile-pad .avatar-profile .item {
    font-size: 10pt;
}
.profile-pad .edgtf-grid-col-9 .avatar-profile .item {
    border-bottom: 1px solid #e5e5e5;
}


.profile-pad .avatar-profile .item .title{
    display: inline-block;width: 160px;
}

.profile-user{margin-top: 100px;margin-bottom: 50px;}

.profile-user .md-title{border-bottom: 1px solid #e5e5e5;}

.profile-user .md-title img{float: left;margin-right: 10px;}

.profile-user .md-title span{display: inline-block;line-height: 40px;font-size: 20px;font-weight: bold;}

.profile-user .md-content .item-ct{display: block;line-height: 40px;border-bottom: 1px solid #e5e5e5;}

.profile-user .md-content .item-ct a span{float: right;margin-right: 10px;color: #666;}

#selected_customer {
    background-color: #b3ae8c47;
}

/*<!-- End Profile page -->*/

/*<!-- list order page -->*/

.profile-pad.list-product .avatar,.profile-pad .avatar .avatar-ct,.profile-pad .avatar .avatar-img{
    display: inline-block;width: 100%;text-align: center;
}
.profile-pad.list-product .avatar .avatar-img img{
    float: left; height: 135px; overflow-y: hidden;    width: 135px;
}
.profile-pad.list-product{margin-bottom: 50px;}
.profile-pad.list-product .list-product-item{
    box-shadow: 0 0 4px #cdcdcd;display: inline-block;width: 100%;margin-bottom: 20px;
    min-height: 150px;
}
.profile-pad.list-product .avatar .col50 .ct{
    color: #222;font-size: 20px;
}
.profile-pad.list-product .avatar-profile .item{
    display: inline-block;width: 100%;line-height: 30px;
}
.profile-pad div.user{
    box-shadow: none !important;
}

.list-product .profile-user{margin-top: 100px;margin-bottom: 50px;}
.list-product .profile-user .md-title{border-bottom: 1px solid #e5e5e5;}
.list-product .profile-user .md-title img{float: left;margin-right: 10px;}
.list-product .profile-user .md-title span{display: inline-block;line-height: 40px;font-size: 20px;font-weight: bold;}
.list-product .profile-user .md-content .item-ct{display: block;line-height: 40px;border-bottom: 1px solid #e5e5e5;}
.list-product .profile-user .md-content .item-ct a span{float: right;margin-right: 10px;color: #666;}

img.order-avatar{
    width: 210px;
    height: 170px;
}

img.order-avatar-detail{
    height: 195px;
}

.ellipsis {
    overflow: hidden;
    height: 60px;
    line-height: 25px;
}
.ellipsis:before {
    content:"";
    float: left;
    width: 5px;
    height: 60px;
}
.ellipsis > *:first-child {
    float: right;
    width: 100%;
    margin-left: -5px;
}
.ellipsis:after {
    content:"\02026";
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    float: right;
    position: relative;
    top: -30px;
    left: 100%;
    width: 3em;
    margin-left: -3em;
    padding-right: 5px;
    text-align: right;
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(white), color-stop(50%, white));
    background: -moz-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
    background: -o-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
    background: -ms-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
}
/*<!-- End list order page -->*/

.list-product-item:hover {
    background: #f3f3f3;
    cursor: pointer;
}

h1.edgtf-st-title {
    font-weight: 700;
}
h4.edgtf-post-title {
    letter-spacing: 1px;
    color: #9f224e;
    font-size: 1.8rem !important;
    font-weight: 900;
}
h5.edgtf-post-title, a.order-name {
    letter-spacing: 1px;
    color: #9f224e;
    font-size: 1.2rem !important;
    font-weight: 900;
}
div.extra-user-info {
    margin-bottom: 10px;
    display: inline-block;
    width: 40%;
    text-align: center;
}

a.extra-link {
    margin-bottom: 10px;
    display: inline-block;
    width: 120px;
    line-height: 40px;
    background: #e36e3a;color: #fff;
    border-radius: 5pt;
}
a.extra-link:hover {
    color: #fff
}

@media only screen and (max-width: 320px) {
    .edgtf-container-inner, .edgtf-grid, .edgtf-row-grid-section {
        width: 100%;
    }
    div.edgtf-row-grid-section > div.vc_row > div.vc_column_container >  div.vc_column-inner {
        padding: 0;
    }
    .woocommerce {
        width: 90%;
    }
    div.cart-collaterals {
        width: 110%;
    }
    div.edgtf-grid-row div.edgtf-page-content-holder {
        padding: 0;
    }
}



@media only screen and (max-width: 440px) {
    .edgtf-pl-holder .edgtf-pli-inner {
        margin-left: auto;
        margin-right: auto;
        display: table !important;
    }
    .edgtf-grid-col-4 {
        text-align: center;
        float: none !important;
        width: 100% !important;
    }
    .woocommerce-product-gallery{
        width: 100% !important;
        padding: 0 !important;
    }
    section.related li.product {
        width: 100% !important;

    }
    #edgtf-single-product-summary {
        width: 100% !important;
        text-align: center;
    }
    ul.products > .product .edgtf-pl-inner .edgtf-pl-image {
        height: auto !important;
    }

    div#footer-left-screen, div#footer-right-screen {
        width: 50% !important;
        float: left !important;
    }
    div#footer-right-screen {
        text-align: right ;
    }
    div#footer-seperate-screen {
        display: none !important;
    }
    li.product > div.edgtf-pl-inner {
        height: 150px;
    }
    ul.edgtf-blog-list > li.edgtf-bl-item.list-order.edgtf-item-space {
        width: 100% !important;
    }


}

@media only screen and (max-width: 680px) {
    .edgtf-pl-holder .edgtf-pli-inner, li.product div.edgtf-pl-inner div.edgtf-pl-image {
        margin-left: auto;
        margin-right: auto;
        display: table !important;
        /*height: auto !important;*/
    }
    div.edgtf-full-width {
        top: -4em;
    }
    div.edgtf-grid > h1 {
        display: none;
    }
    div.edgtf-content-inner > div.edgtf-page-content-holder {
        display: none;
    }
    div.edgtf-pl-main-holder li.product-category {
        width: 100%;
        float: none;
    }
    div.edgtf-content div.woocommerce {
        margin: 0;
    }
    div.woocommerce table.shop_table_responsive {
        table-layout: fixed;
        font-size: 8pt;
    }
    div.woocommerce table.shop_table_responsive td.product-name {
        letter-spacing: 0;
        width: 30%;
    }
    div.woocommerce table.shop_table_responsive td.product-thumbnail {
        width: 50px;
    }
    div.woocommerce table.shop_table_responsive td.product-remove {
        padding: 0;
    }
    div.woocommerce table.shop_table_responsive td.product-price {
        font-size: 8pt;
    }
    div.woocommerce table.shop_table_responsive label.edgtf-quantity-label {
        display: none;
    }
    .edgtf-quantity-buttons span.edgtf-quantity-minus, .edgtf-quantity-buttons span.edgtf-quantity-plus, .edgtf-quantity-buttons input.edgtf-quantity-input {
        width: 10px !important;
        margin: 0 !important;
    }
    div.woocommerce table.shop_table_responsive div.edgtf-quantity-buttons {
        padding: 0;
    }
    tr.order-total > th {
        width: 50%;
    }
    .edgtf-parallax-row-holder {
        min-height: auto !important;
    }
    input#search-customer{
        width: 125% !important;
    }
    .pad-list-user .woocommerce-info span {
        float: none !important;
        display: block;
        text-align: center;
        margin: 0!important;
    }
    div.woocommerce-info > button {
        float: none;
        display: block;
        margin: auto !important;
    }
    div.woocommerce-info > .col-49 {
        width: 100%;
    }
    div.woocommerce-info > .col-49 .pad-avatar {
        width: 100%;
    }
    .pad-list-user .woocommerce-info .pad-user-content span {
        display: inline-block;
    }
    .pad-list-user .woocommerce {
        font-size: 10pt;
        letter-spacing: 0;
    }
    .pad-list-user .item-user .pad-avatar{
        width: 100% !important;
    }
    .edgtf-grid-col-6 {
        margin: 0 !important;
    }
    .profile-pad.list-product .avatar {
        width: 60%;
        display: table;
        float: none;
        margin: auto;
    }
    div.edgtf-grid-col-3 {
        width: 100%;
    }
    .profile-pad.list-product .avatar .avatar-img img {
        float: none;
    }


    section.related li.product {
        width: 50% !important;

    }
    section.related.products {
        margin: 10px;
    }
    .edgtf-grid-col-9 {
        width: 100% !important;
        float:none !important;
    }
    .edgtf-sidebar-holder.edgtf-grid-col-3 {
        display: none;
    }

    ul.edgtf-blog-list > li.edgtf-bl-item.list-order {
        width: 33.3333% !important;
        clear: none !important;
    }
}

@media screen and (max-width: 740px) {
    div.woocommerce table.shop_table_responsive label.edgtf-quantity-label {
        display: none;
    }
    .edgtf-quantity-buttons span.edgtf-quantity-minus, .edgtf-quantity-buttons span.edgtf-quantity-plus, .edgtf-quantity-buttons input.edgtf-quantity-input {
        width: 10px !important;
        margin: 0 !important;
    }
}

@media screen and (max-width: 1024px) {
    li.product-category {
        width: 33.33%;
    }
    #add-to-cart {
        margin-top: 20px;
    }
    div.edgtf-grid-row div.edgtf-grid-col-6, div.edgtf-grid-row {
        margin: 0 !important;
    }

    ul.edgtf-blog-list > li.edgtf-bl-item.list-order {
        width: 33.3333% !important;
        clear: none !important;
    }
    .edgtf-container-inner > div.woocommerce {
        margin: 20px 0 0 0;
        width: 100%;
    }
    div.edgtf-grid-col-6 > div.list-product-item > div.edgtf-grid-col-3 {
        padding-left: 15px !important;
    }

}

@media screen and (max-width: 1380px) {

    th.product-total {
        width: 20% !important;
    }
}

@media screen and (max-width: 780px) and (min-width: 660px) {
    div.edgtf-grid-col-6 div.edgtf-grid-col-9 {
        padding-left: 50px ;
    }
}